@import url('https://fonts.googleapis.com/css?family=Corben:700');

h1 {
	font-family: 'Corben', cursive;
	font-size: 40px;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
	margin-top: 100px;
	position: absolute;
	left: 200px;
	top: 280px;
}

.hero {
	background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	// min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	padding: 3rem 0;
	margin: 0px;
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow.svg{
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

#main-footer{
	background:#0E0B09;
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 5px;
	
}

#navbar{
	background-color: ;
	height: 10px;
	position: absolute;
	right: 40px;
	top: 30px;
}

#navbar ul{
	padding: ;
	list-style: none;
}

#navbar li{
	display: inline;
	padding: 3px;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#navbar a:hover{
	color: black;
	text-decoration: none;
	background-color: white;
	font-size: 16px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: center;
	border-radius: 20px;
}


#socials ul{
	list-style: none;

}

#socials li{
	display: inline;
	padding: 3px;
}

#socials a{
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 3px;
}

#socials{
	position: absolute;
	top: 475px;
	left: 510px;
}
#linkedin{
	height: 50px;
	width: 50px;
}
#github{
	height: 50px;
	width: 50px;
}
#instagram{
	height: 50px;
	width: 50px;
}
#minion{
	width: 150px;
	height: 120px;
}
